/* stylelint-disable color-no-hex */
// $mainFont: #521111;
// $searchButton: rgb(41, 167, 167);
// $searchBackground: #9cefa6;
// $dividerColour: #521111;
// $userCardBackground: #eaf1f7;
// $shadowColour: #ccc;
// $modalBackground: #fff;
// $tableColour: #4a4a4d;
// $userItemColour: #f0f0f2;
$mainColor: #9b4dca;
$white: #fff;
$shadowColor: rgba(0, 0, 0, .2);
$mainTextColor: #505050;
$lightGray: #f4f4f4;

/* stylelint-enable */
