@import 'stylesheets/colours';

body {
  font-family: 'Roboto', sans-serif;
}
.title {
  color: $mainFont;
  // font-size: 2em;
}

.header {
  height: 120px;
  
}
.input_search {
  border-radius: 4px;
  height: 30px;

  width: 200px;
}

.btn_search {
  background-color: $searchBackground;
  border-radius: 4px;
  color: $mainFont;
  float: right;
  height: 30px;
  margin-right: 50px;
  width: 100px;
}

.user_list {
  border-top: solid 1px $dividerColour;
  width: 100%;
  
}
.user {
  align-items: center;
  background-color: $userCardBackground;
  box-shadow: 1px 1px 5px 2px $shadowColour;

  // border: solid 1px $dividerColour;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 60px;
  // margin-bottom: 3px;
  margin-top: 5px;
  // padding: 10px;
  width: 100%;
  

}
.user:hover {
  outline-width: 0;
}
// .user_info {
// }
.user_label {
  padding-left: 20px;
  width: 50%;
}

.user_location {
  padding-left: 10px;
  width: 100px;
}
.user_updated_at {
  font-size: small;
}
.avatar_wrapper {
  text-align: center;
  width: 100px;
}
.avatar {
  height: 30px;
  margin: 0px;
  width: 30px;
}

